<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ng.com.nhub.paygis">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
    <!--<uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <!--<uses-permission android:name="android.permission.WRITE_CONTACTS" />-->
    <!--<uses-permission android:name="android.permission.READ_USER_DICTIONARY" />-->

    <application
        android:name=".etc.ApplicationLoader"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="FACEBOOK_APP_ID" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ng.com.nhub.paygis.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".AuthActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ng.com.nhub.paygis.AuthActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ng.com.nhub.paygis.RegisterActivity" />
        </activity>
        <activity
            android:name=".HomeRegisterActivity"
            android:label="@string/title_activity_home_register"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ng.com.nhub.paygis.PrincipalActivity" />
        </activity>
        <activity
            android:name=".WorkRegisterActivity"
            android:label="@string/title_activity_work_register"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ng.com.nhub.paygis.PrincipalActivity" />
        </activity>
        <activity
            android:name=".TraceTargetActivity"
            android:label="@string/title_activity_trace_target" />
        <activity
            android:name=".IntroActivity"
            android:label="@string/title_activity_intro" />
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AuthActivity"
            android:label="@string/title_activity_auth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ng.com.nhub.paygis.PrincipalActivity" />
        </activity>
        <activity
            android:name=".WorkActivity"
            android:label="@string/title_activity_work"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ng.com.nhub.paygis.PrincipalActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ng.com.nhub.paygis.PrincipalActivity" />
        </activity>
        <activity
            android:name=".QRCodeScannerActivity"
            android:label="@string/title_activity_qrcode_scanner"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ng.com.nhub.paygis.PrincipalActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="GOOGLE_GEO_API_KEY" />

        <activity
            android:name=".MapPreviewActivity"
            android:label="@string/title_activity_map_preview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapLocationPickerActivity"
            android:label="@string/title_activity_map_location_picker"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ng.com.nhub.paygis.PrincipalActivity" />
        </activity>
        <activity
            android:name=".TraceMapFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_trace_map_fullscreen"
            android:theme="@style/FullscreenTheme" />

        <!--<activity-->
            <!--android:name=".TestActivity"-->
            <!--android:label="@string/title_activity_test"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        <!--</activity>-->

    </application>

</manifest>
